<!DOCTYPE html>
<html lang="en">
<%- include('./paritials/head.ejs') %>

<body>
    <nav> 

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="./creat">creat blog</a></li>
            <li><a href="./about">about</a></li>
        </ul>

    </nav>
    <h1>Blogs</h1>
    <h3>cannot found page!!!!!!!!!!!!</h3>
    <p></p>
    <br><br>


        <%- include('./paritials/footer.ejs') %>


</body>
</html>