<!DOCTYPE html>
<html lang="en">
<%- include('./paritials/head.ejs') %>


<body>
    <nav> 
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="./creat">creat blog</a></li>
            <li><a href="./about">about</a></li>
        </ul>

    </nav>
    <h1>Blogs</h1>
    <h3>about pag</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et minus autem ab atque. Nam deserunt debitis non, animi eveniet obcaecati!</p>
    <br><br>


        <%- include('./paritials/footer.ejs') %>


</body>
</html>