p,h2,h3,a,ul{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #222;
}
nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav li{
    list-style-type: none;
    margin-left: 20px;
}
nav h1{
    font-size: 3em;
}
nav p , nav a{
    color: #777;
    font-weight: 300;
}
footer{
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}
h1{
    margin-top: 70px;
    
}
h2{
    margin-bottom: 40px;
}
h3{
    text-transform: capitalize;
    margin-bottom: 5px;
}
p{
    margin: 15PX;
    margin-top: 5PX;
}
.content{
    margin-left: 20px;
}
.blogs a{
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid red;

}
.blogs a:hover h3{
    color: crimson;
}
.create-blog{
    max-width: 400px;
    margin: 0 auto;
}
.create-blog input ,.create-blog textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.create-blog label{
    display: block;
    margin-top: 24px;
}
textarea{
    height: 120px;
}

a{
    color: #222;
    transition: all .5s ease-in-out;
}
 nav a:hover{
    color: red;
    padding-bottom: 6px;
    font-size: 20px;
    transition: all .5s ease-in-out;
    
}
.details{
    position: relative;
}

.del , .edit , .save , .cancel{
    position: relative;
    top: 0;
    right: 0;
    border: none;
    border-radius: 20%;
    padding: 8px;
    background-color: white;
    transition: all 0.8s ease-out;
}
.del:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgb(0,0,0,0.2);
    color: crimson;
    transition: all 0.25s ease-in;
}
.edit:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgb(0,0,0,0.2);
    color: rgb(0, 217, 255);
    transition: all 0.25s ease-in;
}

.save:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgb(0,0,0,0.2);
    color: rgb(0, 255, 64);
    transition: all 0.25s ease-in;
}

.cancel:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgb(0,0,0,0.2);
    color: rgb(238, 19, 19);
    transition: all 0.25s ease-in;
}